In [1]:
import pandas as pd

In [2]:
import pymongo

df = pd.read_csv('data (1).csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [8]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

DB_NAME = "Insurance_n"
COLLECTION_NAME = "Insurance-data"
CONNECTION_URL = "mongodb+srv://dushyantdchss_db_user:jbuBMvnjlFw1HFCa@cluster0.kqwkb6t.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [12]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://dushuser:vWgIM1jKipOJfu8E@cluster0.wjbgpw7.mongodb.net/?appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [13]:
db = client["mydata"]

In [15]:
DB_NAME = "Insurance_n"
COLLECTION_NAME = "Insurance-data"

data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [16]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

#vWgIM1jKipOJfu8E
dushuser